# Debian hardware optimization service
# Apply optimisations
# This service may block the boot process for up to 2 minutes

[Unit]
Description=Ubuntu hardware optimization
Before=basic.target
After=sysinit.target local-fs.target armbian-hardware-monitor.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/lib/ubuntu/ubuntu-hardware-optimization start
ExecStop=/usr/lib/ubuntu/ubuntu-hardware-optimization stop
RemainAfterExit=yes
TimeoutStartSec=2min

[Install]
WantedBy=basic.target
