[Unit]
Description=Ubuntu ZRAM config
DefaultDependencies=no
After=local-fs.target
Before=armbian-ramlog.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/lib/ubuntu/ubuntu-zram-config start
ExecStop=/usr/lib/ubuntu/ubuntu-zram-config stop
RemainAfterExit=yes
TimeoutStartSec=30sec

[Install]
WantedBy=sysinit.target
